body{
    background-image: url(v.jpg);
    background-size: cover; /* This property ensures that the image covers the entire background */
    background-repeat: no-repeat; /* This property prevents the image from repeating */ 
}

.forum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 40%;
    margin: 0 auto;
    background-color:  #f0f2f5;
    padding-top: 80px;
    border-radius: 20px;
}

.forum-container .top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submit-question {
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    flex-grow: 1;
}

.search-bar input {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 20px;
    box-sizing: border-box;
}

.threads-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between buttons */
}

.thread:hover {
    background-color: #ddd;
}

.threads-list .btn {
    display: block; /* Make buttons block-level elements */
    width: 80%; /* Optional: Make the buttons full-width */
    text-align: center; /* Center text within the buttons */
    margin-bottom: 10px; /* Add margin between buttons */
    
}

button.submit-question {
    display: inline-block;
    margin-top: 8px;
    margin-right: 20px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 7px;
    font-size: 17px;
    transition: background-color 0.3s ease;
    border: none; /* Removes the default button border */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
}

button.submit-question:hover {
    background-color: blue;
    color: white;
}