* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 100;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f0f2f5;
}

.container {
    flex: 2;
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color:  #f0f2f5;
}
.logintitle{
    
    right: 100%;
}
.loginPage {
    margin: 0 50px;
    width: 520px;
    margin-top: 300px;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
     
}
.login-image img{
    max-width: 300%;
    max-height: 300%;
    display:block;
    margin-left: 600px;
}
.loginPage h2{
    margin: auto;

}
 #logintitle{
    font-size: 40px;
    
}
.input input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    
}

input {
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px
}
.input {
    width: 100%;
    height: 7vh;
    margin: 30px;
    margin-bottom: 40px;
}

.button {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:7px;
    background-color:white;
    color: black;
    font-size: 17px;
    margin-top: 80px;
   
    margin-left: auto;
}
.button:hover {
    background-color: blue;
    color: white;
}

