<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Requested</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/forgotpassword.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span>Go to:</span>
            <ul class="navbar-middle">
                <li class="navitem">
                    <a href="HomePage">Home</a>
                </li>
                <li class="Forums">
                    <a href="#">Forums</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            {% if session.user %}
                <li class="logout">
                    <a class="btn btn-default btn-sm" href="{{ url_for('logout')}}">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </li>
            {% else %}
                <li class="navbutton">
                    <a class="btn btn-default btn-sm" href="{{ url_for('login') }}">
                        <span class="glyphicon glyphicon-log-in"> login </span></a>  
                </li>
                <li class="navbutton2">
                    <a class="btn btn-default btn-sm" href="{{ url_for('signup') }}">
                        <span class="glyphicon glyphicon-circle-arrow-up"> signup </span></a> 
                </li>
            {% endif %}
        </div>
    </nav>
    
    <div class="forgot-password-container">
        <h1 class="forgot-password-heading">Password Reset Requested</h1>
        
        <p class="forgot-password-text">Thank you, an email has been sent to reset your password.</p>
        
        <p class="forgot-password-text">If you don't receive an email, please check your spam folder.</p>
    </div>
</body>
</html>