<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create New Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/newforum.css">
    <link rel="stylesheet" href="/static/forumtemplate.css">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>{{ forum.topic }}</h1>
        <p>Created by: {{ creator }}</p>
        <div class="message-container">
            {% for message, username in messages %}
                <div class="message">
                    <div class="user-info">
                        <span class="username">{{ username }}</span>
                    </div>
                    <div class="message-content">
                        <p>{{ message.content }}</p>
                    </div>
                    {% if session['user'] == message.user_id %}
                        <span class="delete-message glyphicon glyphicon-trash" aria-hidden="true" data-message-id="{{ message.id }}"></span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <form method="POST">
            <textarea name="content" placeholder="Your Message"></textarea>
            <input type="submit" value="Post Message">
        </form>
    </div>

    <script src="/static/forumtemplate.js"></script>
</body>
</html>
