<!DOCTYPE html>
<html>
<head>
    <title>Forums</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/forum.css">

</head>

<body>
    {% include 'navbar.html' %}

    <div class="forum-container">
        <div class="top-section">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search for threads...">
            </div>
            <a href="{{ url_for('newforum') }}">
                <button class="submit-question">Ask the Community</button>
            </a>
        </div>
    
        <div class="threads-list" id="threads-list">
            {% for forum in forums %}
                <a class="btn btn-default btn-lg thread" href="{{ url_for('forum', topic=forum.topic) }}">{{ forum.topic }}</a>
            {% endfor %}
        </div>
    </div>

    <script src="/static/forum.js"></script>  

</body>
</html>