{%extends "public.html" %}
{% block title %}Forum List{% endblock %}

{%block head%}
    
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/forum.css">
    <link rel="stylesheet" href="/static/navbar.css">
    {%endblock%}
    

{% block body %}

    <div class="forum-container">
        <div class="top-section">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search for threads...">
            </div>
            <a href="{{ url_for('newforum') }}">
                <button class="submit-question">Submit a new question</button>
            </a>
        </div>

        <div class="threads-list" id="threads-list">
            <a class="btn btn-default btn-lg thread" href="/Forums/gaming">Gaming</a>
            <a class="btn btn-default btn-lg thread" href="/Forums/food">Food</a>
            <a class="btn btn-default btn-lg thread" href="/Forums/soccer">Soccer</a>
            <a class="btn btn-default btn-lg thread" href="/Forums/fishing">Fishing</a>
            <a class="btn btn-default btn-lg thread" href="/Forums/art">Art</a>
            <!-- More threads here -->
        </div>
    </div>

    <script src="/static/forum.js"></script>  
{% endblock %}
    
    
