<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    
    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/login.css">
    
</head>
<body>
   
    <div class = "container">
        <div id="loginPage" class= "loginPage">
            <h2 id = "logintitle">Login</h2> 
            <form id="loginForm" class="loginForm" method="POST" action="{{ url_for('login') }}>
                <div class="input">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="User name / Email" required>
                </div>
                <div class="input">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"  placeholder="password"required>
                </div>
                <button id="loginButton" type="submit" class = "button">Login</button>
            </form>
            
            <div class="otherLinks">
                <p class="forgotpassword">
                    <a href = "/forgotpassword"> Forgot your password?</a>
                </p>
                <span> or </span>
                <p class="noAccount"> 
                    <a href= "/signup"> Don't have an account?</a>
                </p>
            </div>
        </div>

    </div>
    <script src="/app/templates/login.js"></script>
</body>
</html>