<!DOCTYPE html>
<html>
<head>
    <title>Create New Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/newforum.css">
    <link rel="stylesheet" href="/static/navbar.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span>Go to:</span>
            <ul class="navbar-middle">
                <li class="navitem">
                    <a href="HomePage">Home</a>
                </li>
                <li class="Forums">
                    <a href="{{ url_for('forums') }}">Forums</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            {% if session.user %}
                <li class="logout">
                    <a class="btn btn-default btn-sm" href="{{ url_for('logout')}}">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </li>
            {% else %}
                <li class="navbutton">
                    <a class="btn btn-default btn-sm" href="{{ url_for('login') }}">
                        <span class="glyphicon glyphicon-log-in"> login </span></a>  
                </li>
                <li class="navbutton2">
                    <a class="btn btn-default btn-sm" href="{{ url_for('signup') }}">
                        <span class="glyphicon glyphicon-circle-arrow-up"> signup </span></a> 
                </li>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Create New Post</h1>
        <form action="/submit_new_forum" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="post">Post:</label><br>
            <textarea id="post" name="post" rows="7" cols="50" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>