{%extends "public.html" %}
{% block title %}New forum{% endblock %}

{%block head%}
    
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/newforum.css">
    <link rel="stylesheet" href="/static/navbar.css">

    {%endblock%}
    

{% block body %}
    <div class="container">
        <h1>Create New Post</h1>
        <form action="/submit_new_forum" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="post">Post:</label><br>
            <textarea id="post" name="post" rows="7" cols="50" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
    
    

    
